@use "@/styles/common";

.page {
  position: relative;
}

:root {
  color: var(--sc-white);
  height: 100vh;
  overflow: hidden;
  position: relative;

  body {
    height: 100vh;
    margin: inherit;
    overflow: hidden;

    .page {
      height: 100vh;
    }
  }

  [rounded] {
    border-radius: 8px;
    overflow: hidden;
  }
}
