@use "sass:color";

$sc-primary: #744da9;
$sc-foreground: #323130;
$sc-background: #fff;

// 主题色
$sc-theme-primary: color.adjust($sc-primary, $lightness: 0%);
$sc-theme-secondary: color.adjust($sc-primary, $lightness: 5%);
$sc-theme-tertiary: color.adjust($sc-primary, $lightness: 18.5%);
$sc-theme-lighter-alt: color.adjust($sc-primary, $lightness: 49%);
$sc-theme-lighter: color.adjust($sc-primary, $lightness: 42%);
$sc-theme-light: color.adjust($sc-primary, $lightness: 34%);
$sc-theme-darker-alt: color.adjust($sc-primary, $lightness: -5%);
$sc-theme-darker: color.adjust($sc-primary, $lightness: -21%);
$sc-theme-dark: color.adjust($sc-primary, $lightness: -12%);

// 中性色
$sc-neutral-lighter-alt: color.adjust($sc-background, $lightness: -2%);
$sc-neutral-lighter: color.adjust($sc-background, $lightness: -5%);
$sc-neutral-light: color.adjust($sc-background, $lightness: -7%);
$sc-neutral-quaternary-alt: color.adjust($sc-background, $lightness: -12%);
$sc-neutral-quaternary: color.adjust($sc-background, $lightness: -18.5%);
$sc-neutral-tertiary-alt: color.adjust($sc-background, $lightness: -22%);
$sc-neutral-tertiary: color.adjust($sc-foreground, $lightness: 43%);
$sc-neutral-secondary-alt: color.adjust($sc-foreground, $lightness: 34%);
$sc-neutral-secondary: color.adjust($sc-foreground, $lightness: 17.5%);
$sc-neutral-primary-alt: color.adjust($sc-foreground, $lightness: 3.5%);
$sc-neutral-primary: color.adjust($sc-foreground);
$sc-neutral-dark: color.adjust($sc-foreground, $lightness: -7%);

// 黑白
$sc-black: color.adjust($sc-foreground, $lightness: -22%);
$sc-white: color.adjust($sc-background, $lightness: 0%);

:root {
  // 主题色
  --sc-theme-primary: #{$sc-theme-primary};
  --sc-theme-secondary: #{$sc-theme-secondary};
  --sc-theme-tertiary: #{$sc-theme-tertiary};
  --sc-theme-lighter-alt: #{$sc-theme-lighter-alt};
  --sc-theme-lighter: #{$sc-theme-lighter};
  --sc-theme-light: #{$sc-theme-light};
  --sc-theme-darker-alt: #{$sc-theme-darker-alt};
  --sc-theme-darker: #{$sc-theme-darker};
  --sc-theme-dark: #{$sc-theme-dark};

  // 中性色
  --sc-neutral-lighter-alt: #{$sc-neutral-lighter-alt};
  --sc-neutral-lighter: #{$sc-neutral-lighter};
  --sc-neutral-light: #{$sc-neutral-light};
  --sc-neutral-quaternary-alt: #{$sc-neutral-quaternary-alt};
  --sc-neutral-quaternary: #{$sc-neutral-quaternary};
  --sc-neutral-tertiary-alt: #{$sc-neutral-tertiary-alt};
  --sc-neutral-tertiary: #{$sc-neutral-tertiary};
  --sc-neutral-secondary-alt: #{$sc-neutral-secondary-alt};
  --sc-neutral-secondary: #{$sc-neutral-secondary};
  --sc-neutral-primary-alt: #{$sc-neutral-primary-alt};
  --sc-neutral-primary: #{$sc-neutral-primary};
  --sc-neutral-dark: #{$sc-neutral-dark};

  // 黑白
  --sc-black: #{$sc-black};
  --sc-white: #{$sc-white};
}
